.list-album-section {
  position: relative;
}

.list-album-container {
  position: relative;
  // Để đảm bảo các mũi tên và grid hoạt động đúng
}

.list-album-grid {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .album-item {
    flex-shrink: 0; // Quan trọng: Ngăn các item co lại
  }
}

.list-album-arrow {
  position: absolute;
  top: 120px; // Điều chỉnh vị trí mũi tên theo chiều dọc
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3); // Nền đen trong suốt
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;


  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }
}

@media (max-width: 640px) {
  .list-album-arrow {
    width: 30px;
    height: 30px;
    &--left {
      left: 5px;
    }
    &--right {
      right: 5px;
    }
  }
}